
*{
	margin: 0px;
	padding: 0px;
}

/*header area */

header{
	background: #F7F8FA;
	width:100%;
	float:left;
	padding:30px 0px;

}

.container{
    width:1140px;
    margin:0 auto;
}
.header-logo{


}

body{
	font-family: 'Lato', sans-serif;
}

.logo{}


/*banner starts*/

.banner-one{
	
	
	background:url("../img/banner.png");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	width:100%;
	float:left;
	padding: 90px 0px;



}

.banner-content{
	text-align: center;


}
.banner-content h2{

	font-size: 120px;
	color: white;
	

}
.banner-content span{
	border-bottom:1px solid #15a4fa;
	display:block;

	width:40%;
	margin:10px auto;

}
.banner-content p{
	font-size: 20px;
	color:white;
	padding:20px;

}

.banner-content i{
	color: white;
	margin: 150px 0px 0px 0px;
	transition: 0.5s ease;
}
	
.banner-content i:hover{
	color: #15a4fa;


}
.b-btn{
background:none;
	color: white;
	padding:10px 19px;
	border:1px solid #15a4fa;
	transition: 0.5s ease;

}

.b-btn:hover{
	background: #49BBFF;
	color: white;
}

/* banner bottom starts*/
.banner-bottom{
	background:#F7F8FA;
	width: 100%;
	float: left;
	padding:82px 0px;

}
.bb-content{
	
	text-align: center;


}

.bb-content h2{
	font-size: 40px;
	padding-bottom: 20px;
	color: #2d3950;


}
.bb-content p{
	color: #A2A2A2;
	font-size:20px;
	
	text-align: center;

}

/* features section starts*/
.features{
	width: 100%;
	float: left;
	padding: 25px 0px;

}

.features-content{

}

.f-content-one {
	float: left;
	width: 30%;
	padding: 45px 10px;
	text-align: center;
	margin-right: 35px;
}
.f-content-two {
	float: left;
	width: 30%;
	padding: 45px 10px;
	text-align: center;
	margin-right: 35px;
}

.f-content-three {
	float: left;
	width: 30%;
	padding: 45px 0px;
	text-align: center;

	

}


.ab i{
	background-color: #48BAFF;
	color: white;
	padding: 36px 0px;
	font-size: 50px;
	height: 50px;
	width: 120px;
	margin: 20px;
	text-align: center;
}

.ab h2{
	font-size: 22px;
	margin: 10px 0px;
	color: #2d3950;


}

.ab p{
	color: #A2A2A2;
	font-size: 20px;
}

.bc{




}

/*showcase starts*/

.showcase{
	background:#F7F8FA;
	width: 100%;
	float: left;
	padding:25px 0px;
}

.showcase-title{
	padding: 30px 0px;
	width: 65%;
	margin: 0 auto;
	text-align: center;

}
.showcase-title h2{
		font-size: 40px;
		padding-bottom: 10px;
		color: #2d3950;


}
.showcase-title p{
	color: #A2A2A2;
	padding-bottom: 10px;
	font-size: 20px;

}

.swc-top-three{
	width: 100%;



}
.swc-one{
	
	width: 30%;
	float: left;
	margin-right: 4%;


}
.swc-two{
		width: 30%;
	float: left;
	margin-right: 4%;
	margin-bottom:2%;

}
.swc-three{
		width: 30%;
	float: left;


}
.swc-bottom-three{

	width: 100%;
}

.swc-four{
		width: 30%;
	float: left;
	margin-right: 4%;
	margin-bottom: 50px;

}
.swc-five{
		width: 30%;
	float: left;
	margin-right: 4%;
	margin-bottom: 50px;

}

.swc-six{
		width: 30%;
	float: left;
	margin-bottom: 50px;

}



/* contact from starts*/

.contact{
	background:url(../img/contact-bg.png);
	background-size: cover;
	width: 100%;
	float: left;
	padding: 25px 0px;
}
.full-contact-box{
	padding: 45px 0px;
	width: 45%;
	margin: 0 auto;
	margin-bottom:80px;
}
.contact-title{
padding-bottom: 40px;
}
.contact-title h2{
	text-align: center;
	color: white;
	font-size: 41px;
	padding-bottom: 15px;
	
}
.contact-title p{
	text-align: center;
	color: #89909F;
	font-size: 15px;
	padding-bottom: 15px;
	
	
}
.form{

}

.input{
	background:none;
	border:1px solid #89909F;
	width: 100%;
	padding: 25px;
	margin-bottom: 20px;
	border-radius: 3px;
}
.input-message{
	background:none;
	border:1px solid #89909F;
	width: 100%;
	padding: 25px;
	margin-bottom: 10px;
	border-radius: 3px;
	height: 100px;
}

.subscribe{
	color: #99A0AA;
	padding:25px 0px;
	width: 50%;
	float: left;
}
.checkbox{

	margin:5px 10px 0px 0px;
	display: block;
	float: left;
}
.subscribe h3{
	color: white;
	display: block;
	float: left;
}

.button {

width: 50%;

float: left;

padding: 15px 0px;
}
.button-btn{
	padding: 14px 58px;
	background: none;
	color: white;
	border: 1px solid #49BBFF;
	margin-left: 159px;
	border-radius: 3px;
	transition: 0.5s ease;
}
.button-btn:hover{

	background: #49BBFF;
	color: white;
	
}

/*footer section */

.copyright{
	background:#F7F8FA;
	width: 100%;
	float: left;
	padding: 25px 0px;
}

.copy{
	width: 50%;
	float: left;
}

.copy h4{
	padding-top: 15px;
	color: #999999;
}
.social-icon{

padding-left: 57px;

display: inline-block;

width: 45%;

flex: left;
}

.icon{
	float: right;

font-size: 23px;

padding: 10px 10px;

width: 25px;

height: 25px;

background: #16A4FA;

color: white;

text-align: center;
margin-left: 10px;
border-radius: 3px;
transition: 0.5s ease;
}
.icon:hover{
	color: white;
	background: gray;

}